    </div>
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-6 col-offset-md-6">
            <footer class="footer">
                <p>&copy; 2016 Company, Inc.</p>
            </footer>
        </div>
    </div>
</div>
<!-- /container -->

<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"
></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
