{% include 'common/header.html' %} 
{% block content %}
<section id="">
    <div class="container-fluid page-wrap">
        <!-- content here -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" style="padding-right: 10px;padding-top: 5px"><button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i></button>
            <li role="presentation" class="active"><a href="#incomes-tab" aria-controls="incomes-tab" role="tab"
                    data-toggle="tab">Receitas</a></li>
            <li role="presentation"><a href="#expenses-tab" aria-controls="expenses-tab" role="tab"
                    data-toggle="tab">Despesas</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="row" style="padding: 8px 8px;">
            <div class="col-md-4" style="text-align: left;"><button id="previous-month" value='5' class="btn">< <span>Jan</span></button></div>
            <div class="col-md-4" style="text-align: center;">
                <button id="previous-year" class="btn"><</button>
                <button id="actual-year" class="btn">2021</button>
                <button id="next-year" class="btn">></button>
            </div>
            <div class="col-md-4" style="text-align: right;"><button id="next-month" value='7' class="btn"><span>Mar</span> ></button></div>
        </div>
        <script>
            let previousMonth = document.getElementById('previous-month')
            let nextMonth = document.getElementById('next-month')
            let previousYear = document.getElementById('previous-year')
            let actualYear = document.getElementById('actual-year')
            let nextYear = document.getElementById('next-year')
            const MONTHS = ['Jan','Feb','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
            const TODAY = new Date();
            const MONTH = TODAY.getMonth();
            const YEAR = TODAY.getFullYear();
            
            function changeMonths(previous, next){
                previousMonth.value = previous
                previousMonth.firstElementChild.innerText = MONTHS[previousMonth.value]

                nextMonth.value = next
                nextMonth.firstElementChild.innerText = MONTHS[nextMonth.value]
            }

            function goToPreviousYear(){
                actualYear.innerText = parseInt(actualYear.innerText)-1 
            }

            function goToNextYear(){
                actualYear.innerText = parseInt(actualYear.innerText)+1
            }

            function startCalendar(year=null){
                if(year){
                    const PREVIOUS = 0
                    const NEXT = 2
                    
                    changeMonths(PREVIOUS, NEXT)
                    actualYear.innerText = year

                    return
                }
                const PREVIOUS = MONTH - 1
                const NEXT = MONTH + 1
                
                changeMonths(PREVIOUS, NEXT)
                actualYear.innerText = YEAR
            }

            function goToPreviousMonth(){
                prePreviousMonth = parseInt(previousMonth.value) - 1
                if(prePreviousMonth < 0){
                    let goToYear = parseInt(actualYear.innerText) - 1

                    startCalendar(goToYear)
                    return
                }
                const PREVIOUS = prePreviousMonth
                const NEXT = parseInt(nextMonth.value) + 1

                changeMonths(PREVIOUS, NEXT)
            }

            function goToNextMonth(){
                preNextMonth = parseInt(nextMonth.value) + 1
                if(preNextMonth > 11){
                    let goToYear = parseInt(actualYear.innerText) + 1

                    startCalendar(goToYear)
                    return
                }
                const PREVIOUS = preNextMonth
                const NEXT = parseInt(previousMonth.value) + 1
                
                changeMonths(PREVIOUS, NEXT)
            }

            
            
            previousMonth.addEventListener('click', () => {
                goToPreviousMonth()
            })

            nextMonth.addEventListener('click', () => {
                goToNextMonth()
            })

            previousYear.addEventListener('click', () => {
                goToPreviousYear()
            })

            nextYear.addEventListener('click', () => {
                goToNextYear()
            })

            startCalendar()
        
        </script>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="incomes-tab">
                <div class="table-responsive">
                    <table class="table table-centered">
                        <tbody>
                            <tr>
                                <th>Status</th>
                                <th>Data</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Categoria</th>
                                <th>Ações</th>
                            </tr>
                            {% for income in incomes %}
                            <tr title="{{ income['description'] }}">
                                <td>✔</td>
                                <td>{{ income['date'] | date }}</td>
                                <td>{{ income['name'] }}</td>
                                <td>{{ income['value'] }}</td>
                                <td title="{{ income['category']['description'] }}" >{{ income['category']['name'] }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="expenses-tab">
                <div class="table-responsive">
                    <table class="table table-centered">
                        <tbody>
                            <tr>
                                <th>Status</th>
                                <th>Data</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Categoria</th>
                                <th>Tipo</th>
                                <th>Ações</th>
                            </tr>
                            {% for expense in expenses %}
                            <tr title="{{ expense['description'] }}">
                                <td>✔</td>
                                <td>{{ expense['date'] | date }}</td>
                                <td>{{ expense['name'] }}</td>
                                <td>{{ expense['value'] }}</td>
                                <td title="{{ expense['category']['description'] }}" >{{ expense['category']['name'] }}</td>
                                <td title="{{ expense['type']['description'] }}" >{{ expense['type']['name'] }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tab-content -->
    </div>
    </div>
  </section> 
{% endblock%} 
{% include 'common/footer.html' %}

<style>
    th, td{
        text-align: center;
    }
</style>