{% include 'common/header.html' %} 
{% block content %}
<section id="">
    <div class="container-fluid page-wrap">
        <!-- content here -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" style="padding-right: 10px;padding-top: 5px"><button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i></button>
            <li role="presentation" class="active"><a href="#incomes-tab" aria-controls="incomes-tab" role="tab"
                    data-toggle="tab">Receitas</a></li>
            <li role="presentation"><a href="#expenses-tab" aria-controls="expenses-tab" role="tab"
                    data-toggle="tab">Despesas</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="incomes-tab">
                <div class="table-responsive">
                    <table class="table table-centered">
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>Data</td>
                                <td>Nome</td>
                                <td>Valor</td>
                                <td>Categoria</td>
                                <td>Ações</td>
                            </tr>
                            {% for income in incomes %}
                            <tr title="{{ income['description'] }}">
                                <td>✔</td>
                                <td>{{ income['date'] | date }}</td>
                                <td>{{ income['name'] }}</td>
                                <td>{{ income['value'] }}</td>
                                <td title="{{ income['category']['description'] }}" >{{ income['category']['name'] }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="expenses-tab">
                <div class="table-responsive">
                    <table class="table table-centered">
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>Data</td>
                                <td>Nome</td>
                                <td>Valor</td>
                                <td>Categoria</td>
                                <td>Tipo</td>
                                <td>Ações</td>
                            </tr>
                            {% for expense in expenses %}
                            <tr title="{{ expense['description'] }}">
                                <td>✔</td>
                                <td>{{ expense['date'] | date }}</td>
                                <td>{{ expense['name'] }}</td>
                                <td>{{ expense['value'] }}</td>
                                <td title="{{ expense['category']['description'] }}" >{{ expense['category']['name'] }}</td>
                                <td title="{{ expense['type']['description'] }}" >{{ expense['type']['name'] }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tab-content -->
    </div>
    </div>
  </section> 
{% endblock%} 
{% include 'common/footer.html' %}
